Repository sameercourse/rtest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: step1, step2

step1:
  script:
  - echo "hi"
  - env

step2:
  script:
  - echo "hi"
  - env

Create testfile
  testfile
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Create README.md
  README.md
Due: none

Update testfile
  testfile
Due: none

Create newrepofile
  newrepofile
Due: none

Update f1
  folder/f1
Due: step1

Update f2
  folder/f2
Due: step2

Create Dockerfile
  Dockerfile
Due: none

Update Dockerfile
  Dockerfile
Due: none

Path conditions:
  step1: any of: folder/f1
  step2: any of: folder/f2
